body {
    overflow-y: hidden;
}
#login-btn {
    width: 60%;
    height: 48px;
    margin-left: 18%;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    border-radius: 24px;
    opacity: 1;
}

#pr {
    position: relative;
   
}

#main-cont {
    display: flex;
    align-items: center;
}


#title {
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
}

#disc {
    text-align: center;
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
}
.fname{
    width: 70%;
}
.main-form{
    margin-right: 3%;
    margin-left:6%;
   
}
@media only screen and (max-width:960px) {
    body {
        overflow-y: scroll;
    }
}