@{
    ViewData["Title"] = "Login Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />

    <script src="js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>
 
        <div class="row align-items-center p-0" >
            <div class="col-lg-8 p-0">
                <div id="carouselExampleSlidesOnly"
                     class="carousel slide"
                     data-bs-ride="carousel">
                    @*<div class="carousel-indicators">
                        <button type="button"
                                data-bs-target="#carouselExampleSlidesOnly"
                                data-bs-slide-to="0"
                                class="active"
                                aria-current="true"
                                aria-label="Slide 1"></button>
                        <button type="button"
                                data-bs-target="#carouselExampleSlidesOnly"
                                data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button"
                                data-bs-target="#carouselExampleSlidesOnly"
                                data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>*@
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="images\Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                                 class="d-block w-100"
                                 alt="..." />
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Sed ut perspiciatis unde omnis iste natus voluptatem.</h3>
                                <p class="text-start">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut al
                                    iquip ex ea commodo consequat. p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                                 class="d-block w-100"
                                 alt="..." />
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="text-start">Second slide </h3>
                                <p class="text-start">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut al
                                    iquip ex ea commodo consequat. p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                                 class="d-block w-100"
                                 alt="..." />
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="text-start">Third Slide </h3>
                                <p class="text-start">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut al
                                    iquip ex ea commodo consequat. p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-4">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label mt-5">Email address</label>
                        <input type="email"
                               placeholder="evan.donohue@gmail.com"
                               class="form-control "
                               id="exampleInputEmail1"
                               aria-describedby="emailHelp" />
                    </div>
                    <div class="input-group-lg mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password"
                               placeholder="************"
                               class="form-control"
                               id="exampleInputPassword1" />
                    </div>
                    <button type="button" class="btn" id="login-btn">Login</button>
                <div class="alert text-center mb-0" role="alert">
                    <a class="" asp-controller="Home" asp-action="Forgotpassword" style="text-decoration:none;color:#414141">Lost Your Password</a>
                    </div>
                <div class="alert  text-center pt-0 mb-0" role="alert">
                        Don’t have an account?
                    <a  asp-controller="Home" asp-action="Registration" class="alert-link" style="text-decoration:none">Create an account</a>
                    </div>
                    <p class="text-center align-bottom" id="pr">Privacy Policy</p>
                </form>


            </div>
        </div>

</body>
</html>
