<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/registrationpage.css" />

    <script src="js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>
  
        <div class="row align-items-center">
            <div class="col-lg-9">
                <div id="carouselExampleSlidesOnly"
                     class="carousel slide "
                     data-bs-ride="carousel">
                
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                                 class="d-block w-100"
                                 alt="..." />
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Sed ut perspiciatis unde omnis iste natus voluptatem.</h3>
                                <p class="text-start">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                    et dolore magna aliqua.. p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                                 class="d-block w-100"
                                 alt="..." id="img-1" />
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="text-start">Second slide </h3>
                                <p class="text-start">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                    et dolore magna aliqua. . p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                                 class="d-block w-100"
                                 alt="..." />
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="text-start">Third Slide </h3>
                                <p class="text-start">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                    et dolore magna aliqua.  p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-3 ">
                <form class="mt-3 ">
                    <div class="mb-1">
                        <label for="exampleInputEmail1" class="form-label ">First Name</label>
                        <input type="text"
                               placeholder="evan"
                               class="form-control "
                               id="exampleInputEmail1"
                               aria-describedby="emailHelp"
                               id="fname" />
                    </div>
                <div class="mb-1 mt-md-2 mt-sm-2">
                        <label for="exampleInputEmail1" class="form-label ">Last Name</label>
                        <input type="text"
                               placeholder="donohue"
                               class="form-control "
                               id="exampleInputEmail1"
                               aria-describedby="emailHelp" />
                    </div>
                    <div class="mb-1">
                        <label for="exampleInputEmail1" class="form-label ">Phone Number</label>
                        <input type="number"
                               placeholder="9248627536"
                               class="form-control "
                               id="exampleInputEmail1"
                               aria-describedby="emailHelp" />
                    </div>
                    <div class="mb-1">
                        <label for="exampleInputEmail1" class="form-label ">Email</label>
                        <input type="Email"
                               placeholder="evan.donohue@gmail.com"
                               class="form-control "
                               id="exampleInputEmail1"
                               aria-describedby="emailHelp" />
                    </div>
                    <div class="mb-1">
                        <label for="exampleInputEmail1" class="form-label ">New Passowrd</label>
                        <input type="password"
                               placeholder="********"
                               class="form-control "
                               id="exampleInputEmail1"
                               aria-describedby="emailHelp" />
                    </div>
                    <div class="mb-1">
                        <label for="exampleInputEmail1" class="form-label ">Conform Passowrd</label>
                        <input type="password"
                               placeholder="*********"
                               class="form-control "
                               id="exampleInputEmail1"
                               aria-describedby="emailHelp" />
                    </div>
                    <button type="button" class="btn mt-2 mb-1" id="login-btn">Register</button>
                    <div class=" mb-1 text-center " role="alert">
                        <a class="" asp-controller="Home" asp-action="Forgotpassword" style="text-decoration:none;color:#414141">Lost Your Password</a>
                    </div>
                    <div class=" mb-1 text-center mt-sm-3" role="alert">
                        Already Registered
                    <a asp-controller="Home" asp-action="Login" class="alert-link " style="text-decoration:none;">Login Now</a>
                    </div>
                <p class="text-center align-bottom mt-sm-3 " id="pr">Privacy Policy</p>
                </form>


            </div>
        </div>
    
</body>
</html>

