
@{
    ViewData["Title"] = "Volunteering_Mission_Page";
}


<html>
    <head>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/Landingpage.css" />
    </head>
       <body>
    <h1>Volunteering_Mission_Page</h1>
    <hr />
    <h2>Releted Missions</h2>
    <div class="card-cont" id="card-cont">

    <div class="card" id="card-list">
        <div class="mission-img">
                    <div class="rounded-pill p-1" id="location" style="position:absolute;right:8px; top:5% ">
                        <img src="/images/pin.png" />&nbsp;<span>Canada</span> 
                        </div>
                        <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:35%">
                            <img src="/images/heart.png" />
                            </div>
                <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:55%">
                    <img src="/images/add1.png" />
                </div>
                    <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class=" card-img-top  h-100 " alt="..." />

                    <div id="mission-theme" class="rounded-pill text-center">
                        <p class="mt-1 mb-1 ps-2 pe-2">Enviroment</p>
                    </div>
        </div>

        <div class="card-body p-1 ms-2">
                    <h5 class="card-title">Animal-welfare-&-save-birds-campaign</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="d-flex justify-content-between" >
                <div> JR Foundation </div>
                        <div class="star-rating">
                            <input type="radio" id="5-stars" name="rating" value="5" />
                            <label for="5-stars" class="star">&#9733;</label>
                            <input type="radio" id="4-stars" name="rating" value="4" />
                            <label for="4-stars" class="star">&#9733;</label>
                            <input type="radio" id="3-stars" name="rating" value="3" />
                            <label for="3-stars" class="star">&#9733;</label>
                            <input type="radio" id="2-stars" name="rating" value="2" />
                            <label for="2-stars" class="star">&#9733;</label>
                            <input type="radio" id="1-star" name="rating" value="1" />
                            <label for="1-star" class="star">&#9733;</label>
                        </div>
                    </div>
                    <div class="date-hr">
                        <hr>
                        <p class="mt-2 p-1">From 10/01/2021 to 10/02/2021</p>
                        <hr>
                    </div>


                    <div class="d-flex justify-content-between">
                        <div>
                            <img src="~/images/Seats-left.png" />
                            <span>10</span>
                            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Seats left</p>

                        </div>
                        <div>
                            <img src="~/images/deadline.png" />
                            <span>10/21/21</span>
                            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Deadline</p>

                        </div>

                    </div>
                    <hr class="m-0" />
                    <button type="button" class="btn btn-outline-warning rounded-pill apply-btn mt-2 mb-1">Apply <img class="ms-2" src="~/images/right-arrow.png" /></button>


                </div>


    </div>
    <div class="card" id="card-list">
            <div class="mission-img">
                <div class="rounded-pill p-1" id="location" style="position:absolute;right:8px; top:10px">
                    <img src="/images/pin.png" />&nbsp;<span>Canada</span>
                </div>
                <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:110px">
                    <img src="/images/heart.png" />
                </div>
                <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:160px">
                    <img src="/images/add1.png" />
                </div>
                <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class=" card-img-top h-100 " alt="..." />

                <div id="mission-theme" class="rounded-pill text-center">
                    <p class="mt-1 mb-1 ps-2 pe-2">Enviroment</p>
                </div>
            </div>

            <div class="card-body p-1 ms-2">
                <h5 class="card-title">Animal-welfare-&-save-birds-campaign</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="d-flex justify-content-between">
                    <div> JR Foundation </div>
                    <div class="star-rating">
                        <input type="radio" id="5-stars" name="rating" value="5" />
                        <label for="5-stars" class="star">&#9733;</label>
                        <input type="radio" id="4-stars" name="rating" value="4" />
                        <label for="4-stars" class="star">&#9733;</label>
                        <input type="radio" id="3-stars" name="rating" value="3" />
                        <label for="3-stars" class="star">&#9733;</label>
                        <input type="radio" id="2-stars" name="rating" value="2" />
                        <label for="2-stars" class="star">&#9733;</label>
                        <input type="radio" id="1-star" name="rating" value="1" />
                        <label for="1-star" class="star">&#9733;</label>
                    </div>
                </div>
                <div class="date-hr">
                    <hr>
                    <p class="mt-2 p-1">From 10/01/2021 to 10/02/2021</p>
                    <hr>
                </div>


                <div class="d-flex justify-content-between">
                    <div>
                        <img src="~/images/Seats-left.png" />
                        <span>10</span>
                        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Seats left</p>

                    </div>
                    <div>
                        <img src="~/images/deadline.png" />
                        <span>10/21/21</span>
                        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Deadline</p>

                    </div>

                </div>
                <hr class="m-0" />
                <button type="button" class="btn btn-outline-warning rounded-pill apply-btn mt-2 mb-1">Apply <img class="ms-2" src="~/images/right-arrow.png" /></button>


            </div>


        </div>
    <div class="card"  id="card-list">
        <div class="mission-img">
                    <div class="rounded-pill p-1" id="location" style="position:absolute;right:8px; top:10px">
                        <img src="/images/pin.png" />&nbsp;<span>Canada</span> 
                        </div>
                        <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:110px">
                            <img src="/images/heart.png" />
                            </div>
                <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:160px">
                    <img src="/images/add1.png" />
                </div>
                    <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class=" card-img-top h-100 " alt="..." />

                    <div id="mission-theme" class="rounded-pill text-center">
                        <p class="mt-1 mb-1 ps-2 pe-2">Enviroment</p>
                    </div>
        </div>

        <div class="card-body p-1 ms-2">
                    <h5 class="card-title">Animal-welfare-&-save-birds-campaign</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="d-flex justify-content-between" >
                <div> JR Foundation </div>
                        <div class="star-rating">
                            <input type="radio" id="5-stars" name="rating" value="5" />
                            <label for="5-stars" class="star">&#9733;</label>
                            <input type="radio" id="4-stars" name="rating" value="4" />
                            <label for="4-stars" class="star">&#9733;</label>
                            <input type="radio" id="3-stars" name="rating" value="3" />
                            <label for="3-stars" class="star">&#9733;</label>
                            <input type="radio" id="2-stars" name="rating" value="2" />
                            <label for="2-stars" class="star">&#9733;</label>
                            <input type="radio" id="1-star" name="rating" value="1" />
                            <label for="1-star" class="star">&#9733;</label>
                        </div>
                    </div>
                    <div class="date-hr">
                        <hr>
                        <p class="mt-2 p-1">From 10/01/2021 to 10/02/2021</p>
                        <hr>
                    </div>


                    <div class="d-flex justify-content-between">
                        <div>
                            <img src="~/images/Seats-left.png" />
                            <span>10</span>
                            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Seats left</p>

                        </div>
                        <div>
                            <img src="~/images/deadline.png" />
                            <span>10/21/21</span>
                            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Deadline</p>

                        </div>

                    </div>
                    <hr class="m-0" />
                    <button type="button" class="btn btn-outline-warning rounded-pill apply-btn mt-2 mb-1">Apply <img class="ms-2" src="~/images/right-arrow.png" /></button>


                </div>


    </div>
    <div class="card"  id="card-list">
        <div class="mission-img">
                    <div class="rounded-pill p-1" id="location" style="position:absolute;right:8px; top:10px">
                        <img src="/images/pin.png" />&nbsp;<span>Canada</span> 
                        </div>
                        <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:110px">
                            <img src="/images/heart.png" />
                            </div>
                <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:160px">
                    <img src="/images/add1.png" />
                </div>
                    <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class=" card-img-top h-100 " alt="..." />

                    <div id="mission-theme" class="rounded-pill text-center">
                        <p class="mt-1 mb-1 ps-2 pe-2">Enviroment</p>
                    </div>
        </div>

        <div class="card-body p-1 ms-2">
                    <h5 class="card-title">Animal-welfare-&-save-birds-campaign</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="d-flex justify-content-between" >
                <div> JR Foundation </div>
                        <div class="star-rating">
                            <input type="radio" id="5-stars" name="rating" value="5" />
                            <label for="5-stars" class="star">&#9733;</label>
                            <input type="radio" id="4-stars" name="rating" value="4" />
                            <label for="4-stars" class="star">&#9733;</label>
                            <input type="radio" id="3-stars" name="rating" value="3" />
                            <label for="3-stars" class="star">&#9733;</label>
                            <input type="radio" id="2-stars" name="rating" value="2" />
                            <label for="2-stars" class="star">&#9733;</label>
                            <input type="radio" id="1-star" name="rating" value="1" />
                            <label for="1-star" class="star">&#9733;</label>
                        </div>
                    </div>
                    <div class="date-hr">
                        <hr>
                        <p class="mt-2 p-1">From 10/01/2021 to 10/02/2021</p>
                        <hr>
                    </div>


                    <div class="d-flex justify-content-between">
                        <div>
                            <img src="~/images/Seats-left.png" />
                            <span>10</span>
                            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Seats left</p>

                        </div>
                        <div>
                            <img src="~/images/deadline.png" />
                            <span>10/21/21</span>
                            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Deadline</p>

                        </div>

                    </div>
                    <hr class="m-0" />
                    <button type="button" class="btn btn-outline-warning rounded-pill apply-btn mt-2 mb-1">Apply <img class="ms-2" src="~/images/right-arrow.png" /></button>


                </div>


    </div>
    <div class="card"  id="card-list">
        <div class="mission-img">
                    <div class="rounded-pill p-1" id="location" style="position:absolute;right:8px; top:10px">
                        <img src="/images/pin.png" />&nbsp;<span>Canada</span> 
                        </div>
                        <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:110px">
                            <img src="/images/heart.png" />
                            </div>
                <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:160px">
                    <img src="/images/add1.png" />
                </div>
                    <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class=" card-img-top h-100 " alt="..." />

                    <div id="mission-theme" class="rounded-pill text-center">
                        <p class="mt-1 mb-1 ps-2 pe-2">Enviroment</p>
                    </div>
        </div>

        <div class="card-body p-1 ms-2">
                    <h5 class="card-title">Animal-welfare-&-save-birds-campaign</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="d-flex justify-content-between" >
                <div> JR Foundation </div>
                        <div class="star-rating">
                            <input type="radio" id="5-stars" name="rating" value="5" />
                            <label for="5-stars" class="star">&#9733;</label>
                            <input type="radio" id="4-stars" name="rating" value="4" />
                            <label for="4-stars" class="star">&#9733;</label>
                            <input type="radio" id="3-stars" name="rating" value="3" />
                            <label for="3-stars" class="star">&#9733;</label>
                            <input type="radio" id="2-stars" name="rating" value="2" />
                            <label for="2-stars" class="star">&#9733;</label>
                            <input type="radio" id="1-star" name="rating" value="1" />
                            <label for="1-star" class="star">&#9733;</label>
                        </div>
                    </div>
                    <div class="date-hr">
                        <hr>
                        <p class="mt-2 p-1">From 10/01/2021 to 10/02/2021</p>
                        <hr>
                    </div>


                    <div class="d-flex justify-content-between">
                        <div>
                            <img src="~/images/Seats-left.png" />
                            <span>10</span>
                            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Seats left</p>

                        </div>
                        <div>
                            <img src="~/images/deadline.png" />
                            <span>10/21/21</span>
                            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Deadline</p>

                        </div>

                    </div>
                    <hr class="m-0" />
                    <button type="button" class="btn btn-outline-warning rounded-pill apply-btn mt-2 mb-1">Apply <img class="ms-2" src="~/images/right-arrow.png" /></button>


                </div>


    </div>
    <div class="card"  id="card-list">
        <div class="mission-img">
                    <div class="rounded-pill p-1" id="location" style="position:absolute;right:8px; top:10px">
                        <img src="/images/pin.png" />&nbsp;<span>Canada</span> 
                        </div>
                        <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:110px">
                            <img src="/images/heart.png" />
                            </div>
                <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:160px">
                    <img src="/images/add1.png" />
                </div>
                    <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class=" card-img-top h-100 " alt="..." />

                    <div id="mission-theme" class="rounded-pill text-center">
                        <p class="mt-1 mb-1 ps-2 pe-2">Enviroment</p>
                    </div>
        </div>

        <div class="card-body p-1 ms-2">
                    <h5 class="card-title">Animal-welfare-&-save-birds-campaign</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="d-flex justify-content-between" >
                <div> JR Foundation </div>
                        <div class="star-rating">
                            <input type="radio" id="5-stars" name="rating" value="5" />
                            <label for="5-stars" class="star">&#9733;</label>
                            <input type="radio" id="4-stars" name="rating" value="4" />
                            <label for="4-stars" class="star">&#9733;</label>
                            <input type="radio" id="3-stars" name="rating" value="3" />
                            <label for="3-stars" class="star">&#9733;</label>
                            <input type="radio" id="2-stars" name="rating" value="2" />
                            <label for="2-stars" class="star">&#9733;</label>
                            <input type="radio" id="1-star" name="rating" value="1" />
                            <label for="1-star" class="star">&#9733;</label>
                        </div>
                    </div>
                    <div class="date-hr">
                        <hr>
                        <p class="mt-2 p-1">From 10/01/2021 to 10/02/2021</p>
                        <hr>
                    </div>


                    <div class="d-flex justify-content-between">
                        <div>
                            <img src="~/images/Seats-left.png" />
                            <span>10</span>
                            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Seats left</p>

                        </div>
                        <div>
                            <img src="~/images/deadline.png" />
                            <span>10/21/21</span>
                            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Deadline</p>

                        </div>

                    </div>
                    <hr class="m-0" />
                    <button type="button" class="btn btn-outline-warning rounded-pill apply-btn mt-2 mb-1">Apply <img class="ms-2" src="~/images/right-arrow.png" /></button>


                </div>


    </div>

    </div>

    <div class="mission-list-cont mission-chhumantar" id="mission-list-cont" >
        <div class="list-view-card">
        <div class="mission-img">
            <div class="rounded-pill p-1" id="location" style="position:absolute;right:5px; top:10px"><img src="/images/pin.png" />&nbsp;<span>Canada</span> </div>
              <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:110px">
                            <img src="/images/heart.png" />
                            </div>
                <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:160px">
                    <img src="/images/add1.png" />
                </div>
            <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class="  " alt="..." />

            <div id="mission-theme" class="rounded-pill text-center">
                <p class="mt-1 mb-1 ps-2 pe-2">Enviroment</p>
            </div>
        </div>
        <div class="card-info ms-3">

            <div class="d-flex justify-content-between">
                <div style="margin-top:14px;">
                    <img src="/images/pin1.png" />
                        <span style="font-size:90%;">Atlanta</span>
                    <img class="ms-1" src="/images//web.png" />
                        <span style="font-size:90%;">Enviroment</span>
                    <img src="/images/organization.png" />
                        <span style="font-size:90%;">Smith International Caring Foundation</span>
                </div>

                <div class="star-rating">
                    <input type="radio" id="5-stars" name="rating" value="5" />
                    <label for="5-stars" class="star">&#9733;</label>
                    <input type="radio" id="4-stars" name="rating" value="4" />
                    <label for="4-stars" class="star">&#9733;</label>
                    <input type="radio" id="3-stars" name="rating" value="3" />
                    <label for="3-stars" class="star">&#9733;</label>
                    <input type="radio" id="2-stars" name="rating" value="2" />
                    <label for="2-stars" class="star">&#9733;</label>
                    <input type="radio" id="1-star" name="rating" value="1" />
                    <label for="1-star" class="star">&#9733;</label>
                </div>
            </div>
                <h4>Grow-Trees-On-the-path-to-environment-sustainability</h4>
                <p>This Summer we are aiming to plant 1000 plant</p>
                <div class="d-flex">
                    <div>
                    <img  src="~/images/Seats-left.png"/>
                    <span>397</span>
                    <p class="ms-4">Seats Left</p>
                    </div>
                    <div class="ms-4 " style="display:flex;flex-direction:row">
                        <div>
                            <img src="~/images/achieved.png" />
                        </div>
                       <div>
                        <div class="mt-2 ms-3" style="background-color:#818181; width:150px;height:10px; border-radius:10px"></div>
                        <span class="ms-3">Archived</span>
                        </div>

                    </div>
                    <div class="ms-4 ">
                        <img src="~/images/calender.png"/>
                        <span class="">From 01/09/2019</span>
                        <p class="ms-4">Until 1/12/2019</p>
                    </div>
                    <div class="ms-4 ">
                        <img src="~/images/Seats-left.png" />
                        <span>Skills</span>
                        <p class="ms-4">English Teaching</p>
                    </div>
                    <div class="ms-5">
                        <button class="btn btn-outline-warning rounded-pill">View Details<img class="ms-2" src="~/images/right-arrow.png"/></button>
                    </div>
                </div>
        </div>
    </div>
        <div class="list-view-card">
            <div class="mission-img">
                <div class="rounded-pill p-1" id="location" style="position:absolute;right:5px; top:10px"><img src="/images/pin.png" />&nbsp;<span>Canada</span> </div>
                  <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:110px">
                            <img src="/images/heart.png" />
                            </div>
                <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:160px">
                    <img src="/images/add1.png" />
                </div>
                <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class="  " alt="..." />

                <div id="mission-theme" class="rounded-pill text-center">
                    <p class="mt-1 mb-1 ps-2 pe-2">Enviroment</p>
                </div>
            </div>
            <div class="card-info ms-3">

                <div class="d-flex justify-content-between">
                    <div style="margin-top:14px;">
                        <img src="/images/pin1.png" />
                        <span style="font-size:90%;">Atlanta</span>
                        <img class="ms-1" src="/images//web.png" />
                        <span style="font-size:90%;">Enviroment</span>
                        <img src="/images/organization.png" />
                        <span style="font-size:90%;">Smith International Caring Foundation</span>
                    </div>

                    <div class="star-rating">
                        <input type="radio" id="5-stars" name="rating" value="5" />
                        <label for="5-stars" class="star">&#9733;</label>
                        <input type="radio" id="4-stars" name="rating" value="4" />
                        <label for="4-stars" class="star">&#9733;</label>
                        <input type="radio" id="3-stars" name="rating" value="3" />
                        <label for="3-stars" class="star">&#9733;</label>
                        <input type="radio" id="2-stars" name="rating" value="2" />
                        <label for="2-stars" class="star">&#9733;</label>
                        <input type="radio" id="1-star" name="rating" value="1" />
                        <label for="1-star" class="star">&#9733;</label>
                    </div>
                </div>
                <h4>Grow-Trees-On-the-path-to-environment-sustainability</h4>
                <p>This Summer we are aiming to plant 1000 plant</p>
                <div class="d-flex">
                    <div>
                        <img src="~/images/Seats-left.png" />
                        <span>397</span>
                        <p class="ms-4">Seats Left</p>
                    </div>
                    <div class="ms-4 " style="display:flex;flex-direction:row">
                        <div>
                            <img src="~/images/achieved.png" />
                        </div>
                        <div>
                            <div class="mt-2 ms-3" style="background-color:#818181; width:150px;height:10px; border-radius:10px"></div>
                            <span class="ms-3">Archived</span>
                        </div>

                    </div>
                    <div class="ms-4 ">
                        <img src="~/images/calender.png" />
                        <span class="">From 01/09/2019</span>
                        <p class="ms-4">Until 1/12/2019</p>
                    </div>
                    <div class="ms-4 ">
                        <img src="~/images/Seats-left.png" />
                        <span>Skills</span>
                        <p class="ms-4">English Teaching</p>
                    </div>
                    <div class="ms-5">
                        <button class="btn btn-outline-warning rounded-pill">View Details<img class="ms-2" src="~/images/right-arrow.png" /></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-view-card">
        <div class="mission-img">
            <div class="rounded-pill p-1" id="location" style="position:absolute;right:5px; top:10px"><img src="/images/pin.png" />&nbsp;<span>Canada</span> </div>
              <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:110px">
                            <img src="/images/heart.png" />
                            </div>
                <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:160px">
                    <img src="/images/add1.png" />
                </div>
            <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class="  " alt="..." />

            <div id="mission-theme" class="rounded-pill text-center">
                <p class="mt-1 mb-1 ps-2 pe-2">Enviroment</p>
            </div>
        </div>
        <div class="card-info ms-3">

            <div class="d-flex justify-content-between">
                <div style="margin-top:14px;">
                    <img src="/images/pin1.png" />
                        <span style="font-size:90%;">Atlanta</span>
                    <img class="ms-1" src="/images//web.png" />
                        <span style="font-size:90%;">Enviroment</span>
                    <img src="/images/organization.png" />
                        <span style="font-size:90%;">Smith International Caring Foundation</span>
                </div>

                <div class="star-rating">
                    <input type="radio" id="5-stars" name="rating" value="5" />
                    <label for="5-stars" class="star">&#9733;</label>
                    <input type="radio" id="4-stars" name="rating" value="4" />
                    <label for="4-stars" class="star">&#9733;</label>
                    <input type="radio" id="3-stars" name="rating" value="3" />
                    <label for="3-stars" class="star">&#9733;</label>
                    <input type="radio" id="2-stars" name="rating" value="2" />
                    <label for="2-stars" class="star">&#9733;</label>
                    <input type="radio" id="1-star" name="rating" value="1" />
                    <label for="1-star" class="star">&#9733;</label>
                </div>
            </div>
                <h4>Grow-Trees-On-the-path-to-environment-sustainability</h4>
                <p>This Summer we are aiming to plant 1000 plant</p>
                <div class="d-flex">
                    <div>
                    <img  src="~/images/Seats-left.png"/>
                    <span>397</span>
                    <p class="ms-4">Seats Left</p>
                    </div>
                    <div class="ms-4 " style="display:flex;flex-direction:row">
                        <div>
                            <img src="~/images/achieved.png" />
                        </div>
                       <div>
                        <div class="mt-2 ms-3" style="background-color:#818181; width:150px;height:10px; border-radius:10px"></div>
                        <span class="ms-3">Archived</span>
                        </div>

                    </div>
                    <div class="ms-4 ">
                        <img src="~/images/calender.png"/>
                        <span class="">From 01/09/2019</span>
                        <p class="ms-4">Until 1/12/2019</p>
                    </div>
                    <div class="ms-4 ">
                        <img src="~/images/Seats-left.png" />
                        <span>Skills</span>
                        <p class="ms-4">English Teaching</p>
                    </div>
                    <div class="ms-5">
                        <button class="btn btn-outline-warning rounded-pill">View Details<img class="ms-2" src="~/images/right-arrow.png"/></button>
                    </div>
                </div>
        </div>
    </div>
        <div class="list-view-card">
            <div class="mission-img">
                <div class="rounded-pill p-1" id="location" style="position:absolute;right:5px; top:10px"><img src="/images/pin.png" />&nbsp;<span>Canada</span> </div>
                  <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:110px">
                            <img src="/images/heart.png" />
                            </div>
                <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:160px">
                    <img src="/images/add1.png" />
                </div>
                <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class="  " alt="..." />

                <div id="mission-theme" class="rounded-pill text-center">
                    <p class="mt-1 mb-1 ps-2 pe-2">Enviroment</p>
                </div>
            </div>
            <div class="card-info ms-3">

                <div class="d-flex justify-content-between">
                    <div style="margin-top:14px;">
                        <img src="/images/pin1.png" />
                        <span style="font-size:90%;">Atlanta</span>
                        <img class="ms-1" src="/images//web.png" />
                        <span style="font-size:90%;">Enviroment</span>
                        <img src="/images/organization.png" />
                        <span style="font-size:90%;">Smith International Caring Foundation</span>
                    </div>

                    <div class="star-rating">
                        <input type="radio" id="5-stars" name="rating" value="5" />
                        <label for="5-stars" class="star">&#9733;</label>
                        <input type="radio" id="4-stars" name="rating" value="4" />
                        <label for="4-stars" class="star">&#9733;</label>
                        <input type="radio" id="3-stars" name="rating" value="3" />
                        <label for="3-stars" class="star">&#9733;</label>
                        <input type="radio" id="2-stars" name="rating" value="2" />
                        <label for="2-stars" class="star">&#9733;</label>
                        <input type="radio" id="1-star" name="rating" value="1" />
                        <label for="1-star" class="star">&#9733;</label>
                    </div>
                </div>
                <h4>Grow-Trees-On-the-path-to-environment-sustainability</h4>
                <p>This Summer we are aiming to plant 1000 plant</p>
                <div class="d-flex">
                    <div>
                        <img src="~/images/Seats-left.png" />
                        <span>397</span>
                        <p class="ms-4">Seats Left</p>
                    </div>
                    <div class="ms-4 " style="display:flex;flex-direction:row">
                        <div>
                            <img src="~/images/achieved.png" />
                        </div>
                        <div>
                            <div class="mt-2 ms-3" style="background-color:#818181; width:150px;height:10px; border-radius:10px"></div>
                            <span class="ms-3">Archived</span>
                        </div>

                    </div>
                    <div class="ms-4 ">
                        <img src="~/images/calender.png" />
                        <span class="">From 01/09/2019</span>
                        <p class="ms-4">Until 1/12/2019</p>
                    </div>
                    <div class="ms-4 ">
                        <img src="~/images/Seats-left.png" />
                        <span>Skills</span>
                        <p class="ms-4">English Teaching</p>
                    </div>
                    <div class="ms-5">
                        <button class="btn btn-outline-warning rounded-pill">View Details<img class="ms-2" src="~/images/right-arrow.png" /></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-view-card">
            <div class="mission-img">
                <div class="rounded-pill p-1" id="location" style="position:absolute;right:5px; top:10px"><img src="/images/pin.png" />&nbsp;<span>Canada</span> </div>
                <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:110px">
                    <img src="/images/heart.png" />
                </div>
                <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:160px">
                    <img src="/images/add1.png" />
                </div>
                <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class="  " alt="..." />

                <div id="mission-theme" class="rounded-pill text-center">
                    <p class="mt-1 mb-1 ps-2 pe-2">Enviroment</p>
                </div>
            </div>
            <div class="card-info ms-3">

                <div class="d-flex justify-content-between">
                    <div style="margin-top:14px;">
                        <img src="/images/pin1.png" />
                        <span style="font-size:90%;">Atlanta</span>
                        <img class="ms-1" src="/images//web.png" />
                        <span style="font-size:90%;">Enviroment</span>
                        <img src="/images/organization.png" />
                        <span style="font-size:90%;">Smith International Caring Foundation</span>
                    </div>

                    <div class="star-rating">
                        <input type="radio" id="5-stars" name="rating" value="5" />
                        <label for="5-stars" class="star">&#9733;</label>
                        <input type="radio" id="4-stars" name="rating" value="4" />
                        <label for="4-stars" class="star">&#9733;</label>
                        <input type="radio" id="3-stars" name="rating" value="3" />
                        <label for="3-stars" class="star">&#9733;</label>
                        <input type="radio" id="2-stars" name="rating" value="2" />
                        <label for="2-stars" class="star">&#9733;</label>
                        <input type="radio" id="1-star" name="rating" value="1" />
                        <label for="1-star" class="star">&#9733;</label>
                    </div>
                </div>
                <h4>Grow-Trees-On-the-path-to-environment-sustainability</h4>
                <p>This Summer we are aiming to plant 1000 plant</p>
                <div class="d-flex">
                    <div>
                        <img src="~/images/Seats-left.png" />
                        <span>397</span>
                        <p class="ms-4">Seats Left</p>
                    </div>
                    <div class="ms-4 " style="display:flex;flex-direction:row">
                        <div>
                            <img src="~/images/achieved.png" />
                        </div>
                        <div>
                            <div class="mt-2 ms-3" style="background-color:#818181; width:150px;height:10px; border-radius:10px"></div>
                            <span class="ms-3">Archived</span>
                        </div>

                    </div>
                    <div class="ms-4 ">
                        <img src="~/images/calender.png" />
                        <span class="">From 01/09/2019</span>
                        <p class="ms-4">Until 1/12/2019</p>
                    </div>
                    <div class="ms-4 ">
                        <img src="~/images/Seats-left.png" />
                        <span>Skills</span>
                        <p class="ms-4">English Teaching</p>
                    </div>
                    <div class="ms-5">
                        <button class="btn btn-outline-warning rounded-pill">View Details<img class="ms-2" src="~/images/right-arrow.png" /></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-view-card">
            <div class="mission-img">
                <div class="rounded-pill p-1" id="location" style="position:absolute;right:5px; top:10px"><img src="/images/pin.png" />&nbsp;<span>Canada</span> </div>
                <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:110px">
                    <img src="/images/heart.png" />
                </div>
                <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:160px">
                    <img src="/images/add1.png" />
                </div>
                <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class="  " alt="..." />

                <div id="mission-theme" class="rounded-pill text-center">
                    <p class="mt-1 mb-1 ps-2 pe-2">Enviroment</p>
                </div>
            </div>
            <div class="card-info ms-3">

                <div class="d-flex justify-content-between">
                    <div style="margin-top:14px;">
                        <img src="/images/pin1.png" />
                        <span style="font-size:90%;">Atlanta</span>
                        <img class="ms-1" src="/images//web.png" />
                        <span style="font-size:90%;">Enviroment</span>
                        <img src="/images/organization.png" />
                        <span style="font-size:90%;">Smith International Caring Foundation</span>
                    </div>

                    <div class="star-rating">
                        <input type="radio" id="5-stars" name="rating" value="5" />
                        <label for="5-stars" class="star">&#9733;</label>
                        <input type="radio" id="4-stars" name="rating" value="4" />
                        <label for="4-stars" class="star">&#9733;</label>
                        <input type="radio" id="3-stars" name="rating" value="3" />
                        <label for="3-stars" class="star">&#9733;</label>
                        <input type="radio" id="2-stars" name="rating" value="2" />
                        <label for="2-stars" class="star">&#9733;</label>
                        <input type="radio" id="1-star" name="rating" value="1" />
                        <label for="1-star" class="star">&#9733;</label>
                    </div>
                </div>
                <h4>Grow-Trees-On-the-path-to-environment-sustainability</h4>
                <p>This Summer we are aiming to plant 1000 plant</p>
                <div class="d-flex">
                    <div>
                        <img src="~/images/Seats-left.png" />
                        <span>397</span>
                        <p class="ms-4">Seats Left</p>
                    </div>
                    <div class="ms-4 " style="display:flex;flex-direction:row">
                        <div>
                            <img src="~/images/achieved.png" />
                        </div>
                        <div>
                            <div class="mt-2 ms-3" style="background-color:#818181; width:150px;height:10px; border-radius:10px"></div>
                            <span class="ms-3">Archived</span>
                        </div>

                    </div>
                    <div class="ms-4 ">
                        <img src="~/images/calender.png" />
                        <span class="">From 01/09/2019</span>
                        <p class="ms-4">Until 1/12/2019</p>
                    </div>
                    <div class="ms-4 ">
                        <img src="~/images/Seats-left.png" />
                        <span>Skills</span>
                        <p class="ms-4">English Teaching</p>
                    </div>
                    <div class="ms-5">
                        <button class="btn btn-outline-warning rounded-pill">View Details<img class="ms-2" src="~/images/right-arrow.png" /></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
       </body>
</html>

